@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap");
@import "tailwindcss";

@theme {
  --font-*: initial; /* remove default fonts */
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --font-space-grotesk: "Space Grotesk", ui-sans-serif, system-ui, sans-serif;

  --color-*: initial; /* remove all default theme colors */
  --color-primary: #ccff00;
  --color-gradient-primary-light: #f3ffca;
  --color-gradient-primary-dark: #cafd00;
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-surface: #0e0e0e;
  --color-surface-card: #131313;
  --color-white: white;
  --color-destructive: #ff4444;
  --color-gradient-destructive-light: #ff8a8a;
  --color-gradient-destructive-dark: #ff0000;

  --color-navbar-base: rgba(50, 50, 50, 0.4);
  --color-navbar-highlight: rgba(255, 255, 255, 0.2);
  --color-navbar-border: rgba(255, 255, 255, 0.1);
}
