@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

@theme {
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-logo-green: #ccff00;
}
