@import url("https://fonts.googleapis.com/css2?family=Lexend:wght@400;700;900&display=swap");
@import "tailwindcss";

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}

@theme {
  --font-lexend: "Lexend", ui-sans-serif, system-ui, sans-serif;
  --color-primary: #ccff00;
  --color-gradient-primary-light: #f3ffca;
  --color-gradient-primary-dark: #cafd00;
  --color-gray-500: oklch(55.1% 0.027 264.364);
  --color-gray-900: oklch(21% 0.034 264.665);
}
